:root {
  --primery-title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --footer-bcg-color: #2f303a;
  --transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

*,
*::before,
*:after {
  box-sizing: border-box;
}

img {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  background-color: #ffffff;
  color: var(--primery-title-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.2;
}

.title {
  color: var(--primery-title-color);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-container .header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  margin: 32px 0;
}

.header-item {
  margin-left: 93px;
}
.header-list .header-item + .header-item {
  margin-left: 50px;
}

.header-icon {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
}

.icon-link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: #000000;
}

.header-link {
  color: var(--primery-title-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 32px 0;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.header-link:hover, .header-link:focus {
  color: var(--accent-color);
}

.header-border-link {
  position: relative;
}

.header-current::after {
  content: "";
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
}

.header-auth .header-auth-item + .header-auth-item {
  margin-left: 50px;
}

.header-auth {
  margin-bottom: 0;
  display: flex;
  margin-left: auto;
}

.header-email-icon {
  margin-right: 10px;
}

.header-auth-link {
  color: var(--text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  fill: #757575;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.header-auth-link:hover, .header-auth-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.visited:visited {
  color: var(--accent-color);
}

.portfolio-header {
  border: 1px solid #ececec;
}

.hero {
  background-color: var(--footer-bcg-color);
  min-height: 600px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../Img/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .container {
  text-align: center;
}

.hero-title {
  max-width: 696px;
  margin: 0 auto;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  background-color: var(--accent-color);
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition: box-shadow 250ms var(--transition), background-color 250ms var(--transition), color 250ms var(--transition);
}
.hero-btn:hover, .hero-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.advantage-list {
  display: flex;
  gap: 30px;
}

.advantage-secondary-title {
  color: var(--primery-title-color);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantage-text {
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.7;
}

.advantage-icon-border {
  background: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
}

.work {
  padding-top: 0;
}

.work-list {
  display: flex;
  gap: 30px;
}

.work-item {
  position: relative;
}

.work-text {
  position: absolute;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.work-box {
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-secondary-title {
  color: var(--primery-title-color);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
}

.team-text {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}

.team-icon-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  gap: 10px;
}

.team-icon-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: cubic-bezier(0.4, 0, 0.2, 1) background-color 250ms;
  border-radius: 50%;
}
.team-icon-link:hover, .team-icon-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.team-soc-icon {
  fill: #afb1b8;
}
.team-icon-link:hover .team-soc-icon {
  fill: #ffffff;
}
.team-icon-link:focus .team-soc-icon {
  fill: #ffffff;
}

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms var(--transition);
}
.clients-link:hover, .clients-link:focus {
  border-color: var(--accent-color);
  outline: none;
}

.clients-icon {
  fill: #afb1b8;
  transition: fill 250ms var(--transition);
}
.clients-link:hover .clients-icon {
  fill: var(--accent-color);
}
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--footer-bcg-color);
}

.address {
  display: flex;
  flex-wrap: nowrap;
  font-style: normal;
}

.adress-link {
  font-weight: 400;
  line-height: 1.7;
  color: #ffffff;
  font-style: normal;
  transition: cubic-bezier(0.4, 0, 0.2, 1) color 250ms;
}
.adress-link:hover, .adress-link:focus {
  color: var(--accent-color);
}

.contact-link {
  font-weight: 400;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  transition: cubic-bezier(0.4, 0, 0.2, 1) color 250ms;
}
.contact-link:hover, .contact-link:focus {
  color: var(--accent-color);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-icon-secondary {
  color: #ffffff;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  display: block;
}

.footer-icon {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-icon-list {
  gap: 10px;
  display: flex;
}

.footer-icon-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  transition: cubic-bezier(0.4, 0, 0.2, 1) background-color 250ms;
}
.footer-icon-link:focus, .footer-icon-link:hover {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.footer-soc-icon {
  fill: #ffffff;
}

.footer-position {
  margin-left: 70px;
  margin-top: 12px;
}

.footer-btn-form {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  border-color: transparent;
  cursor: pointer;
  margin-left: 12px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 28px;
}

.footer-form-icon {
  position: absolute;
  right: 28px;
  fill: #ffffff;
}

.footer-form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-input {
  height: 50px;
  width: 358px;
  max-width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  padding-left: 16px;
}

.footer-form {
  display: flex;
  flex-wrap: nowrap;
}

.footer-primery-form {
  margin-left: 93px;
  margin-top: 12px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-btn {
  color: #000000;
  right: 8px;
  top: 8px;
  padding: 6px;
  position: absolute;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-svg {
  transition: fill 250ms var(--transition);
}
.modal-svg:hover, .modal-svg:hover {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--primery-title-color);
  margin-bottom: 12px;
}

.model-input {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  outline: none;
  transition: border-color 250ms var(--accent-color);
}
.model-input:focus {
  border-color: #2196f3;
}

.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.modal-position:not(:first-child) {
  margin-top: 10px;
}

.modal-position-svg {
  position: relative;
  height: 40px;
}

.modal-icon {
  position: absolute;
  left: 12px;
  transform: translateY(-50%);
  top: 50%;
}

.modal-textarea {
  width: 100%;
  resize: none;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  height: 120px;
  outline: none;
}
.modal-textarea:focus {
  border: 1px solid #2196f3;
}

.modal-position-svg {
  margin-top: 4px;
}

.modal-button {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  justify-content: center;
  border-color: transparent;
  transition: box-shadow 250ms var(--transition), background-color 250ms var(--transition), color 250ms var(--transition);
  margin: 0 auto;
  margin-top: 30px;
  cursor: pointer;
}
.modal-button:hover, .modal-button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal-check {
  margin-top: 20px;
}

.checkbox-icon {
  fill: currentColor;
}

.label-check span {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #212121;
  fill: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  color: transparent;
  transition: background-color 250ms var(--transition), border-color 250ms var(--transition), color 250ms var(--transition);
  text-align: center;
}

.label-check {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-checkbox:checked + .label-check span {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color: #ffffff;
}

.model-input:focus ~ .modal-icon {
  fill: #2196f3;
}

.modal-link {
  margin-left: 5px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}

.modal-label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.radio-buttons {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.portfolio-btn {
  background-color: #f5f4fa;
  color: var(--primery-title-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  margin-left: 8px;
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  transition: box-shadow 250ms var(--transition), background-color 250ms var(--transition), color 250ms var(--transition);
}
.portfolio-btn:hover, .portfolio-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.content-list {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
}

.content-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.content-link {
  transition: cubic-bezier(0.4, 0, 0.2, 1) box-shadow 250ms;
  outline: none;
  display: inline-block;
}
.content-link:hover, .content-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.content-text-pre {
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  padding: 63px 24px;
  max-width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.content-link:hover .content-text-pre, .content-link:focus .content-text-pre {
  transform: translateY(0);
  border: 1px solid #eeeeee;
}

.box-content {
  position: relative;
  overflow: hidden;
}

.portfolio-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.content-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primery-title-color);
}

.content-item:nth-child(3n) {
  margin-right: 0;
}

.content-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--text-color);
}/*# sourceMappingURL=main.css.map */