.radio-buttons {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.portfolio-btn {
  background-color: #f5f4fa;
  color: var(--primery-title-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  margin-left: 8px;
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  transition: box-shadow 250ms var(--transition),
    background-color 250ms var(--transition), color 250ms var(--transition);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
