.advantage-list {
  display: flex;
  gap: 30px;
}

.advantage-secondary-title {
  @include title;
  margin-bottom: 10px;
}

.advantage-text {
  @include text;
}

.advantage-icon-border {
  background: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
}
