.clients-list {
  display: flex;
  gap: 30px;
}

.clients-link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms var(--transition);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.clients-icon {
  fill: #afb1b8;
  transition: fill 250ms var(--transition);
  .clients-link:hover & {
    fill: var(--accent-color);
  }
  .clients-link:focus & {
    fill: var(--accent-color);
  }
}
